#home-content {
	width: 100%;
}


/*商品轮播开始*/
#home-content{
	width: 100%;
}
.goods-carousel-wrapper{
	width: 100%;
}


/*商品轮播结束*/


/*子商品列表开始*/

#sub-goods-display {
	width: 100%;
	margin-top: 1px;
}
.sub-goods-display-wrapper{
	width: 100%;
	height: 274px;
}
.sub-goods-list {
	width: 100%;
	height: 274px;
	/*overflow: hidden;*/
}

.sub-goods-item{
	width: 24%;
	height: 274px;
	float: left;
	margin-right: 2px;
}

.sub-goods-item-image{
	width: 100%;
	height: 274px;
}


/*子商品列表结束*/


/*尾部开始*/

#footer {
	margin-top: 5px;
}


/*尾部结束*/